*.o
*.coff
*.txt
*.s
nachos
source/nachos-3.4/code/bin/coff2flat
source/nachos-3.4/code/bin/coff2noff
source/nachos-3.4/code/bin/dissassemble
source/nachos-3.4/code/bin/out
source/nachos-3.4/code/test/echo
source/nachos-3.4/code/test/shell
source/nachos-3.4/code/test/cat
source/nachos-3.4/code/test/copy
source/nachos-3.4/code/test/createfile
source/nachos-3.4/code/test/delete
source/nachos-3.4/code/test/halt
source/nachos-3.4/code/test/matmult
source/nachos-3.4/code/test/sort
source/nachos-3.4/code/test/ping
source/nachos-3.4/code/test/pong
source/nachos-3.4/code/test/scheduler
